{% extends "core/base.html" %}

{% block container %}

<div class="row-fluid">
                <div class="span12">
    
                    <div id="headerSeparator"></div>

                    <div class="row-fluid">
                        <div class="span6">

                            
                        </div>
                        
                    </div>

                    <div id="headerSeparator2"></div>
        
                </div>
            </div>
   
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

            

            <div class="row-fluid">

                <li>
                    <i class="general foundicon-mail icon"></i>
                    <span class="field">Email:</span>
                    <a href="luizfabiodacruz@gmail.com" title="Email">luizfabiodacruz@gmail.com</a>
                </li>

            </div>

{% endblock %}