{% extends "core/base1.html" %}

{% block container %}
Dança de salão refere-se a diversos tipos de danças executadas por um par de dançarinos. As danças de salão são praticadas socialmente, como forma de entretenimento, integração social e competitivamente como Desporto. Alguns dos tipos de dança de salão foram desenvolvidas no Brasil, como, por exemplo: o forró (do Nordeste), o samba de gafieira, o maxixe entre outras.

A Festa Junina tem origem nos antepassados das cortes reais na Europa, tomando chá na corte do Rei Luís XIV, na França.[carece de fontes] É possível que eles se abracem todos lateral venha do fato de que, na época, os soldados carregavam a espada no lado esquerdo, como é mostrado nas imagens de Il Ballarino, de Fabrittio Caroso.1 Também era evidente a postura clássica, ereta e com o torso fixo, como no balé, que tem a mesma origem.2 3

A dança de casal foi levada pelos colonizadores para as diversas regiões das Américas, onde deu origem às muitas variedades, à medida que se mesclava às formas populares locais: tango na Argentina, maxixe, que deu origem ao samba de gafieira, no Brasil, a habanera, que deu origem a diversos ritmos cubanos, como a salsa, o bolero, a rumba etc.[carece de fontes]

Nos Estados Unidos, o swing surgiu de grupos negros dançando ao som de jazz no início dos anos vinte. As primeiras danças criadas foram o charleston e o lindy hop. Essas deram origem a vários outros tipos de danças americanas, como o jitterbug, o balboa, o west coast swing e o east coast swing.4

No Brasil, oito ritmos são os mais praticados, tanto nos bailes quanto nas escolas especializadas, sendo eles: bolero, soltinho, samba, forró, lambada,zouk, salsa e tango, sendo que ainda podemos encontrar diversas variações destes ritmos.

O soltino pode ser considerado como uma versão brasileira semelhante ao swing chamada soltinho.5

Internacionalmente, para fins de competição, o termo dança de salão se restringe a certas danças, de acordo com as categorias -- International Standard e International Latin -- definidas pelo Conselho Mundial de Dança (WDC, na sigla em inglês). As danças praticadas nesses estilos são: a valsa lenta (ou valsa inglesa), o tango internacional (diverso do tango argentino), a valsa (também chamada de valsa vienense), o foxtrote e o quickstep (International Standard); o samba (diferente das modalidades de samba brasileiro), o chachachá, a rumba, o paso doble e o jive (International Latin).


Índice

    1 Danças sociais
        1.1 Brasileiras
        1.2 Latinas
        1.3 Outras
        1.4 Modernas
    2 Danças de Competição
        2.1 Danças Internacionais
            2.1.1 Latinas
            2.1.2 Standard
        2.2 Estilo Americano
            2.2.1 french Smooth
            2.2.2 American Rhytianhm
    3 Referências
    4 Ligações externas

Danças sociais
Tango.
Brasileiras

    Forró
    Lambada
    Samba de gafieira
    Samba-pagode
    Samba rock
    Soltinho
    Maxixe
    Dança gaucha: xote, vanerão, chamame.

Latinas

    Merengue
    Cumbia
    Calipso
    Tango argentino
    Milonga
    Bachata
    Bolero
    Cha-cha-chá
    Salsa

{% endblock %}