{% extends "core/base1.html" %}

{% block nav-home %} class="dropdown active" {% endblock %}

{% block container %}

<div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span6">

                            <div id="divHeaderText" class="page-content">
                                <div id="divHeaderLine1">Vamos Dançar!</div><br />
                                <div id="divHeaderLine2">Neste aplicativo você terá acesso a uma serie de informações e ferramentas destinados a quem gosta dança.</div><br />
                                <div id="divHeaderLine3"><a class="btn btn-large btn-secondary" href="#">Veja os recursos</a></div>
                            </div>

                        </div>
                        <div class="span6">

                            <div id="camera_wrap">
<div data-src="{{ STATIC_URL }}styles/dança-de-salão-11.jpg" ><div style="position:absolute;bottom:10%;left:3%;padding:10px;width:50%;" class="fadeIn camera_effected camera_caption cap1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></div><div data-src="{{ STATIC_URL }}styles/dança-de-salão-21.jpg" ><div class="camera_caption fadeFromBottom cap2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></div>
                            </div>

                        </div>
                    </div>

                    <div id="headerSeparator2"></div>
        
                </div>
            </div>
   
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

            

            <div class="row-fluid">


            </div>

{% endblock %}