{% extends "core/base1.html" %}

{% block container %}

<div class="page-header">
	<h3>Recursos disponiveis <small>lista de recursos disponiveis</small></h3>

	<div>
		<ul>
			<li><a href="#">Sorteio de passo para aula</a></li>
			<li><a href="#">Sequencia de passo para aula</a></li>
			<li><a href="#">Pontos fracos e fortes no passo</a></li>
			<li><a href="#">Cadastramento de videos de sua aula</a></li>
			<li><a href="#">Troca de informações entre usuário via blog</a></li>
		</ul>
	</div>
</div>

{% endblock %}